# Lines beginning with a #: give the import name of the package.
# This is used to mock these packages in Sphinx. (the import name)
# The package name followed by it will be used on TravisCI to install deps.
# See this for the exact format: http://www.pip-installer.org/en/latest/cookbook.html#requirements-files

#: Stemmer
PyStemmer
#: bidict
bidict
#: pymining
pymining
#: pyxdameraulevenshtein
pyxDamerauLevenshtein
#: guess_language
guess_language-spirit>=0.5a4
#: magicdate
magicdate
